@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

:root {
  --primary-color-100: #fdf4e5;
  --primary-color-200: #5a4949;
  --primary-color-300: #1a2cc5;
  --primary-color-400: #fdf4e5cc;
  --primary-color-500: #947a7aa6;
}

.background {
  background-color: var(--primary-color-100);
}

h1 {
  color: var(--primary-color-200);
  font-family: "Italiana", sans-serif;
  font-size: 6rem;
  font-weight: 400;
}
h2 {
  color: var(--primary-color-200);
  font-family: "Italiana", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin-top: 3rem;
}

h3 {
  color: var(--primary-color-200);
  font-family: "Italiana", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

h4 {
  color: var(--primary-color-200);
  font-family: "Italiana", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: var(--primary-color-200);
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}

.custom-bg {
  background-position: calc(100% - 500px) center;
  background-size: 50% 100%;
}

a {
  color: var(--primary-color-200);
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}
