---
import { Image } from 'astro:assets';
import Linkedin from "../assets/images/linkedin.svg";
import Logo from "../assets/images/logo.svg";
---
<div class="grid grid-col-1 md:grid-cols-3">
    
    <div class="flex flex-row justify-center">
        <div class="flex flex-col justify-center">
        <p class="mt-6 md:mt-0"> © 2024 Vibe Grith Mobeck</p>
        </div>
    </div>
    <div class="flex flex-col justify-center">
        <h3 class="text-center mt-4">Lets get in contact!</h3>
        <p class="text-center md::mt-6 mb-6">Add me on LinkedIn</p>
        <div class="flex flex-row justify-center animate__animated animate__shakeX animate__infinite">
<a href="https://www.linkedin.com/in/vibe-mobeck-29864932a/"><Image src={Linkedin} alt="Linkedin logo"></Image></a>
</div>
    </div>

    <div class=" mt-10 flex flex-col justify-evenly md:flex-row md:justify-center md:w-full md:h-full">
        <div class="flex justify-center">
        <a href="#"><Image class="w-52 h-52" src={Logo} alt="Vibe logo"></Image></a>
        </div>

    </div>

</div>
  